@charset "UTF-8";
*{ 	margin:0;
	padding:0;
	list-style:none;}
h1{
	text-align:center;
	padding:20px;}
.tab{
	margin:auto;
	text-align:center;
	display: table;}
.tab li{
	display: table-cell;
	padding:0 10px;
	}
.tab li a{
	display: table-cell;
	vertical-align:middle;
	font-size:20px;
	width:200px;
	height:200px;
	background-color:#069;
	border-radius:5px 10px 20px; 
	color:#FFF;
	text-align:center;
	text-decoration:none;}
.tab li a:hover{
	background-color:#06F;}
.tab li img{
	display:block;
	margin:10px auto;}
